<sessionFactoryConfiguration
          persist="true"
          namespace="Boot">
  <databases>
    <clear/>

    <add name="boot"
         autoPersist="true"
         dbType="SqlCe"
         domains="localhost|www.boot.se|boot.se" />

    <add name="devdata"
         autoPersist="true"
         dbType="SqlCe"
         domains="dev.boot.com|tech.boot.com|www.boot.com|boot.com" />

    <add name="netdata"
         autoPersist="true"
         dbType="SqlCe"
         domains="www.boot.net|boot.net" />

  </databases>
</sessionFactoryConfiguration>
