
<!--Templating made easy :-)-->
<div class="jumbotron">
    @Zone(Region.Header)
</div>

<div class="row">
    <div class="col-md-4">
        @Zone(Region.TripelFirst)
    </div>
    <div class="col-md-4">
        @Zone(Region.TripelSecond)
    </div>
    <div class="col-md-4">
        @Zone(Region.TripelThird)
    </div>
</div>
<!--// Templating-->