@{
    ViewBag.Title = "ReadConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configuration</h2>

@foreach (var db in Model.Databases)
{
    <p>Database = @db.Name </p>
}
<pre>
    <code class="xml">
    &lt;configsections&gt;
        &lt;section name=&quot;sessionFactoryConfiguration&quot; type=&quot;Boot.Multitenancy.Configuration.SessionFactoryConfiguration, Boot.Multitenancy&quot; /&gt;
    &lt;/configsections&gt;
    &lt;sessionfactoryconfiguration persist=&quot;true&quot;&gt;
        &lt;databases&gt;
            &lt;clear /&gt;
            &lt;add name=&quot;www.bootcms.com&quot; autopersist=&quot;true&quot; dbtype=&quot;SqlCe&quot; /&gt;
            &lt;add name=&quot;www.bootcms.se&quot; autopersist=&quot;true&quot; dbtype=&quot;SqlCe&quot; /&gt;
        &lt;/databases&gt;
    &lt;/sessionfactoryconfiguration&gt;
</code>
</pre>


