<sessionFactoryConfiguration
          persist="false"
          namespace="Boot">
  <databases>

    <clear/>

    <add name="devdata"
          theme = "Dev"
          autoPersist="true"
          dbType="MySql5"
          connectionstring = "Server=127.0.0.1;Port=3306;Database=devdata;Uid=boots;Pwd=boots;"
          domains="www.boot.com|boot.com"
          properties = "Theme,Dev" />

    <add name="netdata"
          theme = "Net"
          autoPersist="true"
          dbType="MySql5"
          connectionstring = "Server=127.0.0.1;Port=3306;Database=netdata;Uid=boots;Pwd=boots;"
          domains="www.boot.net|boot.net" 
          properties = "Theme,Net"/>

    <add name="boot"
        theme = "Boot"
        autoPersist="true"
        dbType="MySql5"
        connectionstring = "Server=127.0.0.1;Port=3306;Database=boot;Uid=boots;Pwd=boots;"
        domains="localhost|192.168.1.80|www.boot.se|boot.se"
        properties = "Theme,Boot|MyColor,Black" />


  </databases>
</sessionFactoryConfiguration>